[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "2.32.5"
schedule = "1.2.0"
vt-py = "0.22.0"
pymsteams = "0.2.5"
malwarebazaar = "0.1.5"
google-api-python-client = "2.188.0"
fastapi = "0.135.2"
uvicorn[standard] = "0.42.0"