[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
schedule = "*"
vt-py = "*"
pymsteams = "*"
malwarebazaar = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
